extends layout
block title
  title Home
block content
  .home
    h1
      em lol
    <iframe id='nko-button-home' src="http://nodeknockout.com/iframe/mahou-shoujo-billyh" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
