extends layout
block title
  title Home
block content
  .home
    h1
    section.content.homebox
      h1 
      em dXtract is a library of scrapers made by and for developers.  
      em Awesome possum right?  extract the information you need from websites

    section.content.homebox
      em Show Me How
      h1
      em Learn how to make your own scraper to extract the information you need from websites.
    .clear
    <iframe id='nko-button-home' src="http://nodeknockout.com/iframe/mahou-shoujo-billyh" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
