extends layout
block title
  title Home
block content
  .home
    h1
    em video goes here
    .clear
    section.content.homebox
      h1
      b
        em What is Dex?
      p(style='white-space:pre;')
      p Dex allows you to <a href="/new">create a custom web scraper</a> to extract the information you need from websites.
      p(style='white-space:pre;')
      p You can also <a href="/browse/1">browse our library</a> of open source scrapers to find one that already matches your criteria.

    section.content.homebox
      b
        em Why use Dex?
      p(style='white-space:pre;')
      p Ever wished your favorite website had an API?  Need a quick way to scrape lots of pages easily?
      p(style='white-space:pre;')
      p Dex is ideal for data miners, mashup developers, or anyone who wants to monitor or detect changes in data.
    .clear
