extends layout
block title
  title Home
block content
  .home
    h1
    section.content.homebox
      h1 
      b 
        em What is Dex?
      p(style='white-space:pre;') 
      p Dex allows you to <a href="/new">create a custom web scraper</a> to extract the information you need from websites.
      p(style='white-space:pre;') 
      p You can also <a href="/browse/1">browse our library</a> of open source scrapers to find one that already matches your criteria.  

    section.content.homebox
      b
        em Why use Dex?
      p(style='white-space:pre;') 
      p Ever wished your favorite website had an API?  Dex is ideal for data miners, mashup developers, and anyone else who wants to monitor or detect changes in data.   
      p(style='white-space:pre;') 
      p Watch the <a href="/video"> video</a> for more.  
    .clear
    <iframe id='nko-button-home' src="http://nodeknockout.com/iframe/mahou-shoujo-billyh" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
