extends layout
block title
  title About Dex
block content
  .home
    .video
      //<iframe width="640" height="360" src="http://www.youtube.com/embed/LlfdnbtP4xk?rel=0" frameborder="0" allowfullscreen></iframe>
    section.content.homebox
      h2 What is Dex?
      p(style='white-space:pre;')
      p Dex lets you <a href="/new">create a custom JSON API</a> for any website. Easily extract the data you need from anywhere on the web.

    section.content.homebox
      h2 Why use Dex?
      p(style='white-space:pre;')
      p Ever wished your favorite website had an API? HTML is a pain to parse, but Dex makes it super easy to extract the data you want from webpages.

    .call-to-action
      a(href='/new') Try it now &raquo;
