!!! 5
head
  meta(charset='utf-8')
  title= title
  link(rel='stylesheet', href='/vendor/reset.css')
  link(rel='stylesheet', href='/main.css')
  script(src='/vendor/jquery.js')
  script(src='/main.js')
  block head
body
  .container
    block content
