extends layout
block title
  title Create a Scraper
block content
  section.form-part.url-example
    p
      label URL to test scraper with (required)
      input.big(name='url', type='text', placeholder='Example: http://www.youtube.com/user/CoolChannel/videos?sort=dd')
  .clearfix
    .selectors-wrap
      h2 CSS selectors to extract
      h3 See <a href='http://api.jquery.com/category/selectors/' target="_blank">jQuery Documentation</a> for help on CSS selector syntax.
      section.selectors.form-part
        .selector
          input(type='text', name='selectors[]', placeholder='Enter a CSS selector')
          p
            input(name='innerText', type='checkbox', checked='checked')
            = "Extract innerText"
          p
            input(name="attributes")
        ol.additional-selectors
        .controls.clearfix
          a.add-selector(href='#') + Add another selector
          input.right.preview-all.black(type='button', value='Preview')
    .preview-wrap
      h2 Preview
      h3
        ="See and debug your CSS selector extraction results."
        .preview-wrap-text
          input(type="checkbox", checked="checked")
          = "Wrap text?"
      section.preview.form-part
        pre Once you define at least one CSS selector to extract, press the "Preview" button to see your results here.
  section.form-submit
    ="Done editing? "
    input.black(type='button', value='Start Using Scraper')
