extends layout
block title
  title Create a Custom API
block content
  section.form-part.url-example
    p
      label URL to extract data from (required)
      input.big(name='url', type='text', placeholder='http://')
  .clearfix
    .selectors-wrap
      h2 Define CSS selectors for elements to extract
      h3 See <a href='http://api.jquery.com/category/selectors/' target="_blank">CSS selector syntax</a> and <a href='http://www.whatwg.org/specs/web-apps/current-work/multipage/section-index.html#attributes-1' target='_blank'>HTML attributes</a> references for help.
      section.selectors.form-part
        .selector
          input(type='text', name='selectors[]', placeholder='Enter a CSS selector')
          p
            input(name='innerText', type='checkbox', checked='checked')
            = "Extract innerText"
          p.attributes-wrap
            label List of element attributes to extract (optional)
            input(name="attributes")
            span Type an attribute (e.g. "href") and press enter.
          p.custom-key-wrap
            label Customize the hash key for the JSON output (optional)
            input(type='text', name='custom-key', placeholder='Custom JSON key')

        ol.additional-selectors
        .controls.clearfix
          a.add-selector(href='#') + Add another selector
          input.right.preview-all.black(type='button', value='Preview')
    .preview-wrap
      h2 Preview
      h3
        ="See and debug your CSS selector extraction results."
        .preview-wrap-text
          input(type="checkbox", checked="checked")
          = "Wrap text?"
      section.preview.form-part
        pre Once you define at least one CSS selector to extract, press the "Preview" button to see your results here.
  section.form-submit
    p="Done? "
    p
      input.done.black(type='button', value='Generate API Endpoint')
